___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

Welcome to "***Employee Churn Analysis Project***". This is the second project of Capstone Project Series, which you will be able to build your own classification models for a variety of business settings. 

Also you will research what is Employee Churn?, How it is different from customer churn, Exploratory data analysis and visualization of employee churn dataset using ***matplotlib*** and ***seaborn***, model building and evaluation using python ***scikit-learn*** and ***Tensorflow-Keras*** packages. 

You will be able to implement classification techniques in Python. Using Scikit-Learn allowing you to successfully make predictions with Distance Based, Bagging, Boosting algorithms for this project. On the other hand, for Deep Learning you will use Tensorflow-Keras. 

At the end of the project, you will have the opportunity to deploy your model using *Streamlit*.

Before diving into the project, please take a look at the determines and project structure.

- NOTE: This project assumes that you already know the basics of coding in Python and are familiar with model deployement as well as the theory behind Distance Based, Bagging, Boosting algorithms, and Confusion Matrices. You can try more models and methods beside these to improve your model metrics.

# #Determines
In this project you have HR data of a company. A study is requested from you to predict which employee will churn by using this data.

The HR dataset has 14,999 samples. In the given dataset, you have two types of employee one who stayed and another who left the company.

You can describe 10 attributes in detail as:
- ***satisfaction_level:*** It is employee satisfaction point, which ranges from 0-1.
- ***last_evaluation:*** It is evaluated performance by the employer, which also ranges from 0-1.
- ***number_projects:*** How many of projects assigned to an employee?
- ***average_monthly_hours:*** How many hours in averega an employee worked in a month?
- **time_spent_company:** time_spent_company means employee experience. The number of years spent by an employee in the company.
- ***work_accident:*** Whether an employee has had a work accident or not.
- ***promotion_last_5years:*** Whether an employee has had a promotion in the last 5 years or not.
- ***Departments:*** Employee's working department/division.
- ***Salary:*** Salary level of the employee such as low, medium and high.
- ***left:*** Whether the employee has left the company or not.

First of all, to observe the structure of the data, outliers, missing values and features that affect the target variable, you must use exploratory data analysis and data visualization techniques. 

Then, you must perform data pre-processing operations such as ***Scaling*** and ***Encoding*** to increase the accuracy score of Gradient Descent Based or Distance-Based algorithms. you are asked to perform ***Cluster Analysis*** based on the information you obtain during exploratory data analysis and data visualization processes. 

The purpose of clustering analysis is to cluster data with similar characteristics. You are asked to use the ***K-means*** algorithm to make cluster analysis. However, you must provide the K-means algorithm with information about the number of clusters it will make predictions. Also, the data you apply to the K-means algorithm must be scaled. In order to find the optimal number of clusters, you are asked to use the ***Elbow method***. Briefly, try to predict the set to which individuals are related by using K-means and evaluate the estimation results.

Once the data is ready to be applied to the model, you must ***split the data into train and test***. Then build a model to predict whether employees will churn or not. Train your models with your train set, test the success of your model with your test set. 

Try to make your predictions by using the algorithms ***Logistic Regression***, ***Random Forest Classifier***, ***XGBoost Classifier***, ***ANN***. You can use the related modules of the ***scikit-learn*** and ***Tensorflow-Keras*** library. You can use scikit-learn ***Classification Metrics*** module for accuracy calculation. You can use the ***Yellowbrick*** module for model selection and visualization.

In the final step, you will deploy your model using Streamlit tool.

# #Tasks

#### 1. Exploratory Data Analysis
- Importing Modules
- Loading Dataset
- Data Insigts

#### 2. Data Visualization
- Employees Left
- Determine Number of Projects
- Determine Time Spent in Company
- Subplots of Features

#### 3. Data Pre-Processing
- Scaling
- Label Encoding

#### 4. Cluster Analysis
- Find the optimal number of clusters (k) using the elbow method for for K-means.
- Determine the clusters by using K-Means then Evaluate predicted results.

#### 5. Model Building
- Split Data as Train and Test set
- Built Distance Based and Evaluate Model Performance and Predict Test Data
- Built Random Forest Classifier and Evaluate Model Performance and Predict Test Data
- Built XGBoost Classifier, Evaluate Model Performance and Predict Test Data
- Built ANN Classifier, Evaluate Model Performance and Predict Test Data

#### 6. Model Deployement

- Save and Export the Best Model
- Save and Export Variables
- Deploy best model via Streamlit

## 1. Exploratory Data Analysis

Exploratory Data Analysis is an initial process of analysis, in which you can summarize characteristics of data such as pattern, trends, outliers, and hypothesis testing using descriptive statistics and visualization.

In [ ]:
ilhan

### Importing Modules

In [ ]:
#conda install matplotlib ( Bunu hata alırsanız Anaconda cmd kısmına yapıştırıp çalıştırıyoruz.)

In [2]:
#Standard libraries for data analysis:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import norm, skew
from scipy import stats
# sklearn modules for data preprocessing:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#sklearn modules for Model Selection:
from sklearn import svm, tree, linear_model, neighbors
from sklearn import naive_bayes, ensemble, discriminant_analysis, gaussian_process
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
#sklearn modules for Model Evaluation & Improvement:
    
from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.metrics import f1_score, precision_score, recall_score, fbeta_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import KFold
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import classification_report, precision_recall_curve
from sklearn.metrics import auc, roc_auc_score, roc_curve
from sklearn.metrics import make_scorer, recall_score, log_loss
from sklearn.metrics import average_precision_score
#Standard libraries for data visualization:
import seaborn as sn
from matplotlib import pyplot
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import matplotlib 
%matplotlib inline
color = sn.color_palette()
import matplotlib.ticker as mtick
from IPython.display import display
pd.options.display.max_columns = None
from pandas.plotting import scatter_matrix
from sklearn.metrics import roc_curve
#Miscellaneous Utilitiy Libraries:
import random
import os
import re
import sys
import timeit
import string
import time
from datetime import datetime
from time import time
from dateutil.parser import parse
import joblib

### Loading Dataset

Let's first load the required HR dataset using pandas's "read_csv" function.

In [3]:
%pwd # It shows the path, where we have opened the file.

'C:\\Users\\PC-AYSBERG\\Desktop\\Churn_Prediction_Project-master'

In [10]:
Df_URL = 'HR_Dataset.csv'
df0 = pd.read_csv(Df_URL)
df = df0.copy()
df.sample(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
4384,0.48,0.77,3,197,3,0,0,0,hr,medium
12028,0.41,0.46,2,128,3,0,1,0,accounting,low
9848,0.71,0.57,3,207,3,0,0,0,marketing,medium
1599,0.41,0.51,2,144,3,0,1,0,RandD,low
6389,0.85,0.73,4,174,3,0,0,0,support,low
9436,0.69,0.56,5,271,3,0,0,0,support,low
3515,0.13,0.87,3,185,4,1,0,0,management,low
5784,0.65,0.40,2,277,2,0,0,0,technical,medium
6856,0.99,0.64,3,174,4,0,0,0,IT,low
5172,0.77,0.54,3,227,4,0,0,0,management,medium

### Data Insights

In the given dataset, you have two types of employee one who stayed and another who left the company. So, you can divide data into two groups and compare their characteristics. Moreover, you can find the average of both the groups using groupby() and mean() function.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Departments            14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [14]:
pd.options.display.float_format = '{:.2f}'.format
df.describe().T

                         count   mean   std   min    25%    50%    75%    max
satisfaction_level    14999.00   0.61  0.25  0.09   0.44   0.64   0.82   1.00
last_evaluation       14999.00   0.72  0.17  0.36   0.56   0.72   0.87   1.00
number_project        14999.00   3.80  1.23  2.00   3.00   4.00   5.00   7.00
average_montly_hours  14999.00 201.05 49.94 96.00 156.00 200.00 245.00 310.00
time_spend_company    14999.00   3.50  1.46  2.00   3.00   3.00   4.00  10.00
Work_accident         14999.00   0.14  0.35  0.00   0.00   0.00   0.00   1.00
left                  14999.00   0.24  0.43  0.00   0.00   0.00   0.00   1.00
promotion_last_5years 14999.00   0.02  0.14  0.00   0.00   0.00   0.00   1.00

In [13]:
df.describe(include="O").T

              count unique    top  freq
Departments   14999     10  sales  4140
salary        14999      3    low  7316

In [15]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments ', 'salary'],
      dtype='object')

In [16]:
df.rename(columns={"Departments ": "departments", "Work_accident" : "work_accident"}, inplace =True)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [19]:
duplicate_rows_df = df.duplicated().sum()
print("number of duplicated rows: ", duplicate_rows_df)

number of duplicated rows:  3008

In [20]:
df[(df.satisfaction_level == 0.46) & (df.last_evaluation==0.570)& (df.average_montly_hours  == 152) ]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,departments,salary
586,0.46,0.57,2,152,3,0,1,0,support,low
12586,0.46,0.57,2,152,3,0,1,0,support,low
14797,0.46,0.57,2,152,3,0,1,0,support,low

In [21]:
df = df.drop_duplicates()
df.head(5) # it is not possible, that all the employees are satisfied in their job at the same situations.

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [22]:
df.shape

(11991, 10)

In [23]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
work_accident            0
left                     0
promotion_last_5years    0
departments              0
salary                   0
dtype: int64

In [24]:
df=df.reset_index(drop=True)
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
11986,0.90,0.55,3,259,10,1,0,1,management,high
11987,0.74,0.95,5,266,10,0,0,1,management,high
11988,0.85,0.54,3,185,10,0,0,1,management,high
11989,0.33,0.65,3,172,10,0,0,1,marketing,high
11990,0.50,0.73,4,180,3,0,0,0,IT,low

In [25]:
df.groupby(["left"]).salary.value_counts(normalize=True)
#  ayrılanların maaşlara göre durumu --- ayrılanların maaşları düşük

left  salary
0     low      0.46
      medium   0.45
      high     0.09
1     low      0.59
      medium   0.39
      high     0.02
Name: salary, dtype: float64

In [101]:
df.groupby(["promotion_last_5years"]).left.value_counts(normalize=True) # prim etkisi 
# primin ayrılmaya etkisi yok. tek başına bir etkisi gözükmüyor.

promotion_last_5years  left
0                      0      0.83
                       1      0.17
1                      0      0.96
                       1      0.04
Name: left, dtype: float64

In [69]:
pd.pivot_table(df, values=['left'], index=['salary'],
                     aggfunc={'left': np.mean})
# salary nin ayrılmaya etkisi genelde ayrılanlar düşük ücret alan çalışanlar gözüküyor.

        left
salary
high    0.05
low     0.20
medium  0.14

In [26]:
pd.pivot_table(df, values=['last_evaluation'], index=['salary'],
                     aggfunc={'last_evaluation': np.mean})
# çalışanlar arasında maaşa göre değerlendirme farkı var mı ?: cevap yok gözüküyor.

        last_evaluation
salary
high               0.71
low                0.72
medium             0.72

In [27]:
df.groupby(["work_accident"]).left.value_counts(normalize=True)
# iş kazası geçirmenin ayrılmaya olumsuz bir etkisi gözükmüyor.

work_accident  left
0              0      0.81
               1      0.19
1              0      0.94
               1      0.06
Name: left, dtype: float64

In [28]:
df.departments.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [29]:
df.departments.value_counts()

sales          3239
technical      2244
support        1821
IT              976
RandD           694
product_mng     686
marketing       673
accounting      621
hr              601
management      436
Name: departments, dtype: int64

In [30]:
df.iloc[1500:1501].T

                          1500
satisfaction_level        0.37
last_evaluation           0.46
number_project               2
average_montly_hours       157
time_spend_company           3
work_accident                0
left                         1
promotion_last_5years        0
departments            support
salary                  medium

In [31]:
pivot_departments = pd.pivot_table(df, index=["departments", "salary"])
pivot_departments

                    average_montly_hours  last_evaluation  left  \
departments salary
IT          high                  196.17             0.71  0.06
            low                   199.57             0.72  0.18
            medium                202.56             0.71  0.16
RandD       high                  201.70             0.70  0.06
            low                   199.28             0.72  0.16
            medium                203.22             0.71  0.10
accounting  high                  203.84             0.73  0.05
            low                   201.29             0.72  0.20
            medium                199.70             0.72  0.18
hr          high                  211.71             0.75  0.08
            low                   201.18             0.72  0.21
            medium                195.61             0.70  0.18
management  high                  199.46             0.72  0.01
            low                   203.43             0.72  0.23
            medium                201.53             0.74  0.11
marketing   high                  189.95             0.68  0.05
            low                   202.95             0.73  0.25
            medium                197.88             0.72  0.11
product_mng high                  195.96             0.67  0.08
            low                   201.34             0.73  0.17
            medium                196.54             0.71  0.16
sales       high                  199.77             0.70  0.05
            low                   199.47             0.71  0.21
            medium                201.15             0.71  0.15
support     high                  203.50             0.71  0.04
            low                   198.68             0.72  0.22
            medium                202.23             0.73  0.14
technical   high                  200.52             0.70  0.06
            low                   202.06             0.72  0.21
            medium                200.07             0.72  0.15

                    number_project  promotion_last_5years  satisfaction_level  \
departments salary
IT          high              3.89                   0.00                0.64
            low               3.78                   0.00                0.64
            medium            3.80                   0.00                0.63
RandD       high              3.74                   0.02                0.60
            low               3.81                   0.01                0.62
            medium            3.90                   0.05                0.64
accounting  high              3.92                   0.08                0.63
            low               3.83                   0.00                0.60
            medium            3.82                   0.02                0.61
hr          high              3.87                   0.05                0.69
            low               3.71                   0.01                0.62
            medium            3.61                   0.03                0.62
management  high              3.78                   0.18                0.66
            low               3.81                   0.02                0.64
            medium            3.91                   0.06                0.61
marketing   high              3.58                   0.05                0.62
            low               3.78                   0.02                0.62
            medium            3.69                   0.06                0.65
product_mng high              3.81                   0.00                0.62
            low               3.81                   0.00                0.63
            medium            3.77                   0.00                0.63
sales       high              3.84                   0.04                0.65
            low               3.76                   0.01                0.63
            medium            3.78                   0.03                0.63
support     high              3.83                   0.00                0.65
            low               3.80                   0.01                0.62
            medium            3.84                   0.01                0.65
technical   high              3.68                   0.01                0.63
            low               3.88                   0.01                0.62
            medium            3.87                   0.01                0.64

                    time_spend_company  work_accident
departments salary
IT          high                  3.08           0.06
            low                   3.32           0.16
            medium                3.43           0.14
RandD       high                  3.36           0.17
            low                   3.34           0.19
            medium                3.30           0.15
accounting  high                  3.13           0.22
            low                   3.38           0.13
            medium                3.50           0.13
hr          high                  2.84           0.11
            low                   3.20           0.15
            medium                3.38           0.12
management  high                  4.93           0.16
            low                   3.28           0.17
            medium                3.84           0.17
marketing   high                  3.44           0.15
            low                   3.39           0.15
            medium                3.45           0.17
product_mng high                  3.52           0.21
            low                   3.32           0.16
            medium                3.33           0.14
sales       high                  3.41           0.13
            low                   3.32           0.15
            medium                3.44           0.17
support     high                  3.20           0.24
            low                   3.34           0.16
            medium                3.25           0.15
technical   high                  3.25           0.16
            low                   3.30           0.15
            medium                3.33           0.15

In [32]:
#Time_spend_Company
df.groupby("departments").agg({"time_spend_company":["mean"]})
#

            time_spend_company
                          mean
departments
IT                        3.35
RandD                     3.32
accounting                3.40
hr                        3.26
management                3.98
marketing                 3.42
product_mng               3.34
sales                     3.38
support                   3.29
technical                 3.31

In [35]:
#Departmanlardan ayrılan sayısı
df.groupby("departments").left.sum().sort_values(ascending=False) # values değeri 1 olduğu için sum kullanmakta sıkıntı yok!!!

departments
sales          550
technical      390
support        312
IT             158
hr             113
marketing      112
product_mng    110
accounting     109
RandD           85
management      52
Name: left, dtype: int64

## 2. Data Visualization

You can search for answers to the following questions using data visualization methods. Based on these responses, you can develop comments about the factors that cause churn.
- How does the promotion status affect employee churn?
- How does years of experience affect employee churn?
- How does workload affect employee churn?
- How does the salary level affect employee churn?

*Feel free to add more visualization

### Employees Left

Let's check how many employees were left?
Here, you can plot a bar graph using Matplotlib. The bar graph is suitable for showing discrete variable counts.

In [10]:
df0 = pd.get_dummies(df)

### Number of Projects

Similarly, you can also plot a bar graph to count the number of employees deployed on how many projects?

### Time Spent in Company

Similarly, you can also plot a bar graph to count the number of employees have based on how much experience?

### Subplots of Features

You can use the methods of the matplotlib.

## 3. Data Pre-Processing

#### Scaling

Some machine learning algorithms are sensitive to feature scaling while others are virtually invariant to it. Machine learning algorithms like linear regression, logistic regression, neural network, etc. that use gradient descent as an optimization technique require data to be scaled. Also distance algorithms like KNN, K-means, and SVM are most affected by the range of features. This is because behind the scenes they are using distances between data points to determine their similarity.

Scaling Types:
- Normalization: Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.

- Standardization: Standardization is another scaling technique where the values are centered around the mean with a unit standard deviation. This means that the mean of the attribute becomes zero and the resultant distribution has a unit standard deviation.

#### Encoding

Lots of machine learning algorithms require numerical input data, so you need to represent categorical columns in a numerical column. In order to encode this data, you could map each value to a number. e.g. Salary column's value can be represented as low:0, medium:1, and high:2. This process is known as label encoding, and sklearn conveniently will do this for you using LabelEncoder.

## 4. Cluster Analysis

- Cluster analysis or clustering is the task of grouping a set of objects in such a way that objects in the same group (called a cluster) are more similar (in some sense) to each other than to those in other groups (clusters). It is a main task of exploratory data mining, and a common technique for statistical data analysis, used in many fields, including pattern recognition, image analysis, information retrieval, bioinformatics, data compression, computer graphics and machine learning.

    [Cluster Analysis](https://en.wikipedia.org/wiki/Cluster_analysis)

    [Cluster Analysis2](https://realpython.com/k-means-clustering-python/)

#### The Elbow Method

- "Elbow Method" can be used to find the optimum number of clusters in cluster analysis. The elbow method is used to determine the optimal number of clusters in k-means clustering. The elbow method plots the value of the cost function produced by different values of k. If k increases, average distortion will decrease, each cluster will have fewer constituent instances, and the instances will be closer to their respective centroids. However, the improvements in average distortion will decline as k increases. The value of k at which improvement in distortion declines the most is called the elbow, at which we should stop dividing the data into further clusters.

    [The Elbow Method](https://en.wikipedia.org/wiki/Elbow_method_(clustering)

    [The Elbow Method2](https://medium.com/@mudgalvivek2911/machine-learning-clustering-elbow-method-4e8c2b404a5d)

    [KMeans](https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1)

Let's find out the groups of employees who left. You can observe that the most important factor for any employee to stay or leave is satisfaction and performance in the company. So let's bunch them in the group of people using cluster analysis.

## 5. Model Building

### Split Data as Train and Test Set

### #Distance Based(?) Algorithm

#### Model Building

#### Evaluating Model Performance and Tuning

- Confusion Matrix : You can use scikit-learn metrics module for accuracy calculation. A Confusion matrix is an N x N matrix used for evaluating the performance of a classification model, where N is the number of target classes. The matrix compares the actual target values with those predicted by the machine learning model. This gives us a holistic view of how well our classification model is performing and what kinds of errors it is making.

    [Confusion Matrix](https://www.analyticsvidhya.com/blog/2020/04/confusion-matrix-machine-learning/)

- Yellowbrick: Yellowbrick is a suite of visualization and diagnostic tools that will enable quicker model selection. It’s a Python package that combines scikit-learn and matplotlib. Some of the more popular visualization tools include model selection, feature visualization, classification and regression visualization

    [Yellowbrick](https://www.analyticsvidhya.com/blog/2018/05/yellowbrick-a-set-of-visualization-tools-to-accelerate-your-model-selection-process/)

#### Prediction

### #Random Forest Classifier

#### Model Building

#### Evaluating Model Performance and Tuning

#### Prediction

### #XGBoost Classifier

#### Model Building

#### Evaluating Model Performance and Tuning

#### Prediction

### #ANN Classifier

#### Layer Architecture Building and Compiling

#### Evaluating Model Performance and Tunning

#### Prediction

## 6. Model Deployement

You cooked the food in the kitchen and moved on to the serving stage. The question is how do you showcase your work to others? Model Deployement helps you showcase your work to the world and make better decisions with it. But, deploying a model can get a little tricky at times. Before deploying the model, many things such as data storage, preprocessing, model building and monitoring need to be studied. Streamlit is a popular open source framework used by data scientists for model distribution.

Deployment of machine learning models, means making your models available to your other business systems. By deploying models, other systems can send data to them and get their predictions, which are in turn populated back into the company systems. Through machine learning model deployment, can begin to take full advantage of the model you built.

Data science is concerned with how to build machine learning models, which algorithm is more predictive, how to design features, and what variables to use to make the models more accurate. However, how these models are actually used is often neglected. And yet this is the most important step in the machine learning pipline. Only when a model is fully integrated with the business systems, real values ​​can be extract from its predictions.

After doing the following operations in this notebook, jump to new .py file and create your web app with Streamlit.

### Save and Export the Model

### Save and Export Variables

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___